registry=https://registry.npmjs.org/
always-auth=true

# Use Azure feed for @ciscode-apps scope
@ciscode-apps:registry=https://pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/                  
//pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/:_authToken=$(TOKEN_ACCESS_AZURE_ARTIFACT)

