trigger: none

resources:
  pipelines:
    - pipeline: publishPipeline
      source: template-fe-model-auth
      trigger:
        branches:
          include:
            - main

pool:
  vmImage: ubuntu-latest

variables:
  - group: FE-WEB

steps:
  - checkout: self
    fetchDepth: 0
    persistCredentials: true

  - script: |
      set -euo pipefail

      git config user.name "azure-devops-mirror"
      git config user.email "azure-devops-mirror@ciscod.com"

      git remote remove github 2>/dev/null || true
      git remote add github "https://$(GITHUB_MIRROR_PAT)@github.com/CISCODE-MA/AuthKit-UI.git"

      git push --mirror github
    displayName: "Mirror Azure repo to GitHub (force --mirror)"