trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: FE-WEB

steps:
# 1) Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js 20.x'

# 2) Create/update ~/.npmrc with both feeds
- script: |
    echo "registry=https://registry.npmjs.org/" > ~/.npmrc
    echo "always-auth=true" >> ~/.npmrc

    #  -- Feed #1: packages-fe --
    echo "@ciscode-apps:registry=https://pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/" >> ~/.npmrc
    echo "//pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/:_authToken=$(TOKEN_ACCESS_AZURE_ARTIFACT)" >> ~/.npmrc

    # Optionally bump version
    VERSION=$(node -p "require('./package.json').version")
    NEW_VERSION="${VERSION}-build.$(Build.BuildId)"
    npm version "$NEW_VERSION" --no-git-tag-version

    npm set registry "https://pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/"

  displayName: 'Configure npmrc with Azure Artifactss'

# 3) Install dependencies
- script: npm install
  displayName: 'Install dependencies'

# 4) Build the library
- script: npm run build
  displayName: 'Build Shared Library'

# 5) Publish the package to private npm feed
- script: npm publish --access restricted
  displayName: 'Publish to Private npm Feed'
